@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html, body {
  height: 100%;
}

body {
  color: #d2cbe4;
  background: #2f263c;

  font-family: -apple-system,Helvetica Neue,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,sans-serif;
}

nav {
  background: #c83b50;
  color: #2f263c;
  padding: 1em 0 0.5em 0;
  font-weight: bold;
  margin-top: 2px;
}

nav h1 {
  margin: 0px;
  padding-top: 0.2em;
}

#map {
  height: 100%;
}

footer img {
  height: 100%;
  border-radius: 50%;
  border: 10px solid #c83b50;
}

@media (min-width: 1200px) {
  #map {
    border-radius: 20px;
  }
}

/* Fonts */
.font-happy {
  font-family: 'Luckiest Guy', cursive;
}

/* Bootstrap components customization */
.form-check-input {
  background-color: white;
  border-color: #2f263c;
}

.form-check-input:checked {
  background-color: #2f263c;
  border-color: #c83b50;
}

.form-switch .form-check-input {
  width: 3em;
  height: 1.2em;
  border-radius: 2em;
}

@media (min-width: 638px) {
  .form-switch .form-check-input {
    width: 6em;
    height: 2em;
    border-radius: 2em;
  }
}

nav .broadcast-check label {
  font-size: 1em;
}

@media (min-width: 638px) {
  nav .broadcast-check label {
    font-size: 1.2em;
  }
}
